@model IEnumerable<Quileia.Data.Entities.Ciudad>

@{
    ViewData["Title"] = "Ciudades";
}

<h1 class="text-center shadow-lg rounded">Ciudades</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Crear Ciudad</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidaddeHabitantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitioTuristico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelMasReservado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidaddeHabitantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitioTuristico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelMasReservado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Historial</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
