@model Quileia.Data.Entities.Turista

@{
    ViewData["Title"] = "Details";
}


<h2 class="text-center">Detalles</h2>

<div class="d-flex justify-content-center">
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-start">
    <a asp-action="AddTuristCity" asp-route-id="@Model.Id" class="btn btn-primary mr-1"> Agregar ciudad a visitar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
</div>


@if (Model.TuristaCiudades == null || Model.TuristaCiudades.Count == 0)
{
    <h5>No hay ciudades relacionadas</h5>
}
else
{
<div class="d-flex justify-content-center">
    <table class="table mt-5  col-3 bg-warning rounded">
        <thead class="bg-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TuristaCiudades.FirstOrDefault().Ciudad.NombreCiudad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TuristaCiudades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad.NombreCiudad)
                    </td>
                    <td id="@item.CiudadId" class="d-flex justify-content-end">
                        <a asp-action="DeleteCityFromTurisAsync" asp-route-id="@item.CiudadId" class="btn btn-outline-danger " id="btnDelete"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

